<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/foto.png" class="img-fluid" id="foto">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
    <h4>Full Stack Developer Jr</h4>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam corrupti iusto fugiat voluptas quas minima in iure, ducimus veritatis facilis! Ipsam deleniti voluptates labore nostrum natus optio vero laborum beatae!</p>
    </span>
</div>
</div>
