<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">    
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, aliquid et? Ipsam distinctio repellat sunt sint dicta libero, et deleniti obcaecati possimus pariatur, porro ut quidem ipsa voluptatem atque repellendus!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, aliquid et? Ipsam distinctio repellat sunt sint dicta libero, et deleniti obcaecati possimus pariatur, porro ut quidem ipsa voluptatem atque repellendus!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, aliquid et? Ipsam distinctio repellat sunt sint dicta libero, et deleniti obcaecati possimus pariatur, porro ut quidem ipsa voluptatem atque repellendus!
            </p>
        </ul>
    </div>
</div>